name: Azure Publish

on:
  push:
    branches:
      - main

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      
    - name: 'Login via Azure CLI'
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Login to Azure Container Registry
      uses: azure/docker-login@v1
      with:
        login-server: ${{ secrets.REGISTRY_LOGIN_SERVER }}
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}

    - name: Build and push Docker image
      run: |
        docker build -t ${{ secrets.REGISTRY_LOGIN_SERVER }}/20220092:latest .
        docker push ${{ secrets.REGISTRY_LOGIN_SERVER }}/20220092:latest

    - name: Deploy to Azure Container Instances
      uses: azure/aci-deploy@v1
      with:
        azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}
        resource_group: ADDA84-CTP
        dns_name_label: devops-20220092
        location: francecentral
        image: ${{ secrets.REGISTRY_LOGIN_SERVER }}/20220092:latest
        container_name: 20220092
